header {
  background-color: black;
  min-height: 100px;
}

.topnav input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

button.topnav {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.card {
  border: 2px solid black;
  background-color: rgba(160, 98, 17, 0.587);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  min-height: 700px;
}

.card:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: width 2s, height 4s, background-color 2s;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: stretch;
}

li {
  list-style: none;
}

.boss-image {
  width: 500px;
  margin-top: 30px;
  align-self: center;
}

body {
  background-image: url("./imgs/el.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h3 {
  color: rgb(237, 170, 1);
  font-size: 30px;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(251, 192, 0);
}

footer div {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

footer {
  display: flex;
  justify-content: center;
}

footer button {
  width: 200px;
  height: 100px;
  font-size: 30px;
}

footer button:hover {
  background-color: goldenrod;
  color: white;
}
