.card {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 550px;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: stretch;
}
li {
  list-style: none;
}

.boss-image {
  width: 400px;
  margin-top: auto;
}
